<p id="notice"><%= notice %></p>

<h1>Scheduled Mailers</h1>

<table>
  <thead>
    <tr>
      <th>Schedule time</th>
      <th></th>
      <th></th>
      <th>Email</th>
    </tr>
  </thead>

  <tbody>
    <% @my_mailers.each do |my_mailer| %>
      <tr>
        <td><%= my_mailer.schedule_time %></td>
        <td></td>
        <th></th>
        <td><%= my_mailer.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New My mailer', new_my_mailer_path %>
